.git
.idea
/backend/.gradle
/backend/.idea
/backend/build
/backend/gradle
/backend/node_modules
/backend/build.gradle
/backend/gradlew
/backend/gradlew.bat
/backend/HELP.MD
/backend/package-lock.json
/backend/settings.gradle
/frontend/node_modules
/frontend/public
/frontend/tests
/frontend/.browserslistrc
/frontend/.editorconfig
/frontend/.eslintrc.js
/frontend/babel.config.js
/frontend/cypress.json
/frontend/package.json
/frontend/package-lock.json
/frontend/README.md
/frontend/vue.config.js
